<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
      layout:decorate="~{template3}">
<head>
<meta charset="UTF-8"/>
<title>Bénéficiaire</title>
<style>
label{
	font-size:12px;
	font-family:Arial;
}
input[type=text]:focus {
  background-color: lightyellow;
}
textarea:focus {
  background-color: lightyellow;
}
.error{
	color:red;
}

</style>
 <script type="text/javascript" th:if="${flagEntreprise}"> 
 $(document).ready(function(){	
	 const sel = document.querySelector('select');
	 sel.value = 'Entreprise'; 
	 sel.dispatchEvent(new Event('change', {'view': window,'bubbles': true}));

 })		
</script>
			

<script type="text/javascript" > 
$(document).ready(function(){
	setTimeout(function(){
		$('#messageErreur').fadeOut('fast');},5000);
})

$(document).ready(function(){
	setTimeout(function(){
		$('#messageDoublon').fadeOut('fast');},5000);
})

$(document).ready(function(){
	setTimeout(function(){
		$('#messageSucces').fadeOut('fast');},5000);
})
</script>
 
 
</head>
<body>

	<div layout:fragment="content">
	<h3>Nouveau bénéficiaire</h3>
						   <hr/>
	<div class="container">

					<div class="panel-body">
					 
					<ul class="nav nav-pills" id="monTab">
  <li><a class="nav-item nav-link active" href="#p1" id="tabOne" data-toggle="tab">Nouveau</a></li>
  <li><a class="nav-item nav-link" href="#p2" id="tabTwo" data-toggle="tab">Particulier</a></li>
  <li><a class="nav-item nav-link" href="#p3" id="tabThree" data-toggle="tab">Entreprise</a></li>
  
</ul>
<div class="tab-content">
<br></br>
					  <p id="messageErreur" th:if="${messageErreur}" th:text="${messageErreur}" style= color:red></p>
					  <p id="messageDoublon" th:if="${messageDoublon}" th:text="${messageDoublon}" class= "alert alert-danger"></p>
				      <p id="messageSucces" th:if="${messageSucces}" th:text="${messageSucces}" class= "alert alert-success"></p>
 <input type="hidden" id="flag" th:value="${flag}" />
 <div class="tab-pane active" id="p1">

						<form th:action="@{/referentielBeneficiaire}" method="post">
						
							<div class="col-md-3">
					   <label>Type</label>
							    <select id="typeBeneficiaire" name="typeBeneficiaire"  class="form-control" onchange="showDiv('forEntreprise', this); showDivParticulier('forParticulier', this)">
							      <option value="" hidden>------------</option>
							      <option value="Entreprise">Entreprise</option>
							       <option value="Particulier" selected>Particulier</option>						       
							    </select>
							  </div>
							  <script>
      							function showDiv(divId, element) {
      							   document.getElementById(divId).style.display = element.value == "Entreprise" ? 'block' : 'none';
      							 
    							  }
      							
      							function showDivParticulier(divId, element) {
       							   document.getElementById(divId).style.display = element.value == "Particulier" ? 'block' : 'none';
       							 
     							  }
      							
  							  </script> 
  							  
  							  <div class="col-md-6" id="forEntreprise" style="display: none;" th:object="${uneEntreprise}">
							    <label for="nomEntreprise" class="form-label">Nom de l'entreprise</label>
							   <input type="text"  th:field="*{nomEntreprise}" class="form-control" 
							   			placeholder="Nom de l'Entreprise" />
							  <p></p>
							   <label for="ninea" class="form-label">Ninea</label>
							    <input type="text" th:field="*{ninea}" class="form-control" placeholder="Ninea" aria-label="ninea"/>
								 <input type="hidden" th:field="*{idEntreprise}" />
								 
							  </div>
  							  
  							   <br style="clear: both;"/>
  							    <div  id="forParticulier">
  							    <div class="col-md-3" >
  							     </div>
  							     <div th:object="${unePersonne}">
							   <div class="col-md-3" >
							    <label for="nom" class="form-label">Nom</label>
							    <input type="text" th:field="*{nomPersonne}" class="form-control" placeholder="Nom" />
							  <p></p>
							   <label for="prenom" class="form-label">Prénom</label>
							    <input type="text" th:field="*{prenom}" class="form-control" placeholder="Prénom" />
							  </div>							   

						   <br style="clear: both;"/>
						  			<div class="col-md-3" >
  							     </div>		   
						  
						   <div class="col-md-3" >
						     	<label for="nin" class="form-label">Numéro CEDEAO</label>
							    <input id="nin" type="text" th:field="*{nin}" class="form-control" placeholder="Numéro CEDEAO"/>
							    <p th:if="${messageNin}" th:text="${messageNin}" style= color:red></p>
						  </div>
						  <div class="col-md-3">
						     	<label for="cni" class="form-label">Cni</label>
							    <input type="text" th:field="*{cni}" class="form-control"  placeholder="Numéro de la pièce d'identité"/>
						 		<p th:if="${messageCni}" th:text="${messageCni}" style= color:red></p>
						 	</div >
						 	 <input type="hidden" th:field="*{idPersonne}" />
						   </div>
						   <div class="col-md-3" >
						     	<label for="dateDelivrance" class="form-label" style="font-size:12px">Date délivrance</label>
							    <input type="date" name="dateDelivrance" th:value="${dateDelivranceString}" class="form-control" />
						  </div>	
						  <br style="clear: both;"/>
						  <p></p>
						 </div>	
					
						  <div class="col-md-6">
						  
					    <button type="submit" class="btn btn-primary">Enregistrer</button>
					    <a class="btn btn-warning" th:href="@{/beneficiaire}">Annuler</a>
					    
					  </div>
					 
						</form>
						</div>
						<div class="tab-pane" id="p2">
						
						<h4 th:if="${listPersonne.isEmpty()}==true" style="color:red; text-align:center">Aucune donnée personne</h4>
						<div class="table-responsive" th:if="${listPersonne.isEmpty}==false">
						<table class="table table-bordered" id="dataTable" style="width:100%;font-family:Courriel">
							<tr style="background-color:#DEF69A; ">
							<th></th><th>Nom</th><th>Prénom</th><th style="text-align:center">Cni</th><th style="text-align:center">Numéro CEDEAO</th><th style="text-align:center">Date délivrance</th></tr>				
								<tr th:each="d, iteration:${listPersonne}">
									<td th:text="${iteration.index+1}"></td>
									<td th:text="${d.nomPersonne}"></td>
									<td th:text="${d.prenom}"></td>
									<td style="text-align:center" th:text="${d.cni}"></td>
									<td style="text-align:center" th:text="${d.nin}"></td>
									<td style="text-align:center" th:text="${d.dateDelivrance}"></td>
				
								<td style="text-align:center"><a th:href="@{modifierPersonne(id=${d.idPersonne})}"><span class="glyphicon glyphicon-pencil" style=color:green></span></a></td>
								<td style="text-align:center"><a th:href="@{supprimerPersonne(id=${d.idPersonne})}"  onclick="return confirm('Voulez-vous supprimer cette personne?');"><span class="glyphicon glyphicon-trash" style=color:red></span></a></td>
																		
								</tr>	
						</table>
						
						</div>
						
						</div>
							<div class="tab-pane" id="p3">
							<br></br>
							<h4 th:if="${listEntreprise.isEmpty()}==true" style="color:red; text-align:center">Aucune donnée entreprise</h4>
							<div class="table-responsive" th:if="${listEntreprise.isEmpty}==false">
						<table class="table table-bordered" id="dataTable" style="width:100%;font-family:Courriel">
							<tr style="background-color:#F6AC9A">
							<th></th><th style="text-align:center">Entreprise</th><th style="text-align:center">Ninea</th></tr>				
								<tr th:each="d, iteration:${listEntreprise}">
									<td th:text="${iteration.index+1}"></td>
									<td th:text="${d.nomEntreprise}"></td>
									<td style="text-align:center" th:text="${d.ninea}"></td>
				
								<td style="text-align:center"><a th:href="@{modifierEntreprise(id=${d.idEntreprise})}"><span class="glyphicon glyphicon-pencil" style=color:green></span></a></td>
								<td style="text-align:center"><a th:href="@{supprimerEntreprise(id=${d.idEntreprise})}"  onclick="return confirm('Voulez-vous supprimer cette entreprise?');"><span class="glyphicon glyphicon-trash" style=color:red></span></a></td>
																												
								</tr>	
						</table>
						
							</div>
							<script type="text/javascript" >

$(document).ready(function(){
	if($("#flag").val()=="personne"){
        $('#tabTwo').tab('show');
    }
	if($("#flag").val()=="entreprise"){
		$('#tabThree').tab('show');
	}
});
	

</script>
				</div>
						
						</div>
						 
</div>
</div>
</div>

</body>
</html>