<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
      layout:decorate="~{template3}">
<head>
<meta charset="UTF-8"/>
<title>Accueil</title>

</head>
<body>
<div layout:fragment="content">
		
			
				
					
					
	<img src="../static/img/logo_minfinances.png}"  th:src="@{/img/logo_minfinances.png}" width="250" height="80" alt=" "/>
	 <p> </p>
	<img src="../static/img/accueil2.jpeg}"  th:src="@{/img/accueil2.jpeg}" width="1250" height="540" alt=" "/>
	
				    
				
			
	   
</div>
				       
</body>
</html>