<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
      layout:decorate="~{template3}">
<head>
<meta charset="UTF-8"/>
<title>Localisation</title>
<style>
label{
	font-size:12px;
	font-family:Arial;
}
input[type=text]:focus {
  background-color: lightyellow;
}
textarea:focus {
  background-color: lightyellow;
}
.error{
	color:red;
}

</style>
<script type="text/javascript" >

$(document).ready(function(){
	if($("#flag").val()){
        $('#tabTwo').tab('show');
    }
});
	

</script>
		
<script type="text/javascript" > 
$(document).ready(function(){
	setTimeout(function(){
		$('#messageErreur').fadeOut('fast');},5000);
})

$(document).ready(function(){
	setTimeout(function(){
		$('#messageDoublon').fadeOut('fast');},5000);
})

$(document).ready(function(){
	setTimeout(function(){
		$('#messageSucces').fadeOut('fast');},5000);
})
</script>

<script type="text/javascript">
function modifierLocalisation(){	
	var modal =$('#modalModifierLocalisation')
	$(modal).modal('show');
}
</script>
<script type="text/javascript">
	$(document).ready(function () {
		let inputCommuneModifier = document.getElementById("commune");
		let inputCommuneArrondModifier = document.getElementById("communeArrond");
		let inputDepartementModifier = document.getElementById("departement");
		let inputRegionModifier = document.getElementById("region");
		
		inputCommuneModifier.addEventListener( "change", () => {
        	document.getElementById("communeModifier").value=$("#commune").val();
 });
		
		 inputCommuneArrondModifier.addEventListener( "change", () => {
	        	document.getElementById("communeArrondModifier").value=$("#communeArrond").val();
      });
		 
		 inputDepartementModifier.addEventListener( "change", () => {
	        	document.getElementById("departementModifier").value=$("#departement").val();
      });
		 
		 inputRegionModifier.addEventListener( "change", () => {
	        	document.getElementById("regionModifier").value=$("#region").val();
      });
 		
	});
		
		function modifierCommune(){
			let checkboxCommune = document.getElementById("checkboxCommune");			
	        		if ( checkboxCommune.checked == true)
	        			{ 	
	        				document.getElementById("nouvelleCommune").style.display='block';	
	        				 checkboxCommuneArrond.disabled = true;
	        				 checkboxDepartement.disabled = true;
	        				 checkboxRegion.disabled = true;
	        				
	        			}
	        		if ( checkboxCommune.checked == false)
     					{ 	
		     				document.getElementById("nouvelleCommune").style.display='none';
		     				checkboxCommuneArrond.disabled = false;
		    				 checkboxDepartement.disabled = false;
		    				 checkboxRegion.disabled = false;
     					}        
			
}
		
		function modifierCommuneArrond(){
			let checkboxCommuneArrond = document.getElementById("checkboxCommuneArrond");
			
        		if ( checkboxCommuneArrond.checked == true)
        			{ 	
        				document.getElementById("nouvelleCommuneArrond").style.display='block';	
        				checkboxCommune.disabled = true;
        				 checkboxDepartement.disabled = true;
        				 checkboxRegion.disabled = true;
        			}
        		if ( checkboxCommuneArrond.checked == false)
    			{ 	
    				document.getElementById("nouvelleCommuneArrond").style.display='none';	
    				checkboxCommune.disabled = false;
    				 checkboxDepartement.disabled = false;
    				 checkboxRegion.disabled = false;
    			}
			
		}
		
		function modifierDepartement(){
			let checkboxDepartement = document.getElementById("checkboxDepartement");
			
        		if ( checkboxDepartement.checked == true)
        			{ 	
        				document.getElementById("nouveauDepartement").style.display='block';	
        				checkboxCommune.disabled = true;
        				checkboxCommuneArrond.disabled = true;
        				checkboxRegion.disabled = true;
        			}
        		if ( checkboxDepartement.checked == false)
    			{ 	
    				document.getElementById("nouveauDepartement").style.display='none';	
    				checkboxCommune.disabled = false;
    				checkboxCommuneArrond.disabled = false;
    				checkboxRegion.disabled = false;
    			}    		 
		}
		
		function modifierRegion(){
			let checkboxRegion = document.getElementById("checkboxRegion");
			
        		if ( checkboxRegion.checked == true)
        			{ 	
        				document.getElementById("nouvelleRegion").style.display='block';	
        				checkboxCommune.disabled = true;
        				checkboxCommuneArrond.disabled = true;
        				checkboxDepartement.disabled = true;
        			}
        		if ( checkboxRegion.checked == false)
    			{ 	
    				document.getElementById("nouvelleRegion").style.display='none';	
    				checkboxCommune.disabled = false;
    				checkboxCommuneArrond.disabled = false;
    				checkboxDepartement.disabled = false;
    			}    		
		}

</script>
</head>
<body>

	<div layout:fragment="content">
	<h3>Nouvelle localisation</h3>
						   <hr/>
	<div class="container">
	
		
					<div class="panel-body">
					<ul class="nav nav-pills" id="monTab">
  <li><a class="nav-item nav-link active" href="#p1" id="tabOne" data-toggle="tab">Nouveau</a></li>
  <li><a class="nav-item nav-link" href="#p2" id="tabTwo" data-toggle="tab">Liste </a></li>

  
</ul>
<div class="tab-content">
<br></br>
						<p id="messageErreur" th:if="${messageErreur}" th:text="${messageErreur}" style= color:red></p>
						<p id="messageDoublon" th:if="${messageDoublon}" th:text="${messageDoublon}" class= "alert alert-danger"></p>
						<p id="messageSucces" th:if="${messageSucces}" th:text="${messageSucces}" class= "alert alert-success"></p>
						<input type="hidden" id="flag" th:value="${flag}" />
 <div class="tab-pane active" id="p1">
 
						<form th:action="@{/referentielLocalisation}" method="post" >
						
							 <div class="col-md-3" th:object="${uneCommune}">
						     	<label for="commune" class="form-label">Commune</label>
							    <input type="text" th:field = "*{libelleCommune}" class="form-control" placeholder="Commune"/>
						  </div>	
						  <div class="col-md-3" th:object="${uneCommuneArrondissement}">
						     	<label for="communeArrond" class="form-label">Commune d'arrondissement</label>
							    <input type="text" th:field = "*{libelleCommuneArrond}" class="form-control" placeholder="Commune d'arrondissement"/>
						  </div>
						  <div class="col-md-3" th:object="${unDepartement}">
						     	<label for="departement" class="form-label">Département</label>
							    <input type="text" th:field = "*{libelleDepartement}" class="form-control" placeholder="Département"/>
						  </div>
						  <div class="col-md-3" th:object="${uneRegion}">
						     	<label for="region" class="form-label">Région</label>
							    <input type="text" th:field = "*{libelleRegion}" class="form-control" placeholder="Région"/>
						  </div>
						  
						  <br style="clear: both;"/>
						  
						  <p></p>
						
						  <div class="col-md-6">
					    <button type="submit" class="btn btn-primary">Enregistrer</button>
					    <a class="btn btn-warning" th:href="@{/localisation}">Annuler</a>
					  </div>					  
						</form>
						 </div>
						 
						 <div class="tab-pane" id="p2">
						
						<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" style="width:100%;font-family:Courriel">
							<tr style="background-color:#BE9AF6">
							<th></th><th style="text-align:center">Commune</th><th style="text-align:center">Commune d'arrondissement</th>
							<th style="text-align:center">Département</th><th style="text-align:center">Région</th></tr>				
								<tr th:each="d, iteration:${listCommune}">
									<td th:text="${iteration.index+1}"></td>
									<td th:text="${d.libelleCommune}"></td>
									<td th:text="${d.communeArrondissement.libelleCommuneArrond}"></td>
									<td th:text="${d.communeArrondissement.departement.libelleDepartement}"></td>
									<td th:text="${d.communeArrondissement.departement.region.libelleRegion}"></td>
				
								<td style="text-align:center"><a onclick="modifierLocalisation()" ><span class="glyphicon glyphicon-pencil" style=color:green></span></a></td>
								<td style="text-align:center"><a th:href="@{supprimerLocalisation(id=${d.idCommune})}"  onclick="return confirm('Voulez-vous supprimer cette commune?');"><span class="glyphicon glyphicon-trash" style=color:red></span></a></td>																			
								</tr>	
						</table>

						</div>
						

						<!--  Fenêtre modal modifier Localisation--> 
<form th:action="@{/modifierLocalisation}" id="formulaireModifLocalisation" method="post" th:object="${uneCommune}" onsubmit="return confirm('Voulez-vous continuer?')">
<div class="modal fade" id="modalModifierLocalisation" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalModifier">Que voulez-vous modifier ?</h4>
        <span th:text="${checkbox}"></span>
      </div>
       
      <div class="modal-body" >
       
          <div class="form-group">
          <input type="checkbox" id="checkboxCommune" name="checkboxCommune" onclick="modifierCommune()"/>
            <label for="commune" class="col-form-label">Commune:</label>
            
            <input type="checkbox" id="checkboxCommuneArrond" name="checkboxCommuneArrond" onclick="modifierCommuneArrond()"/>
            <label for="communeArrond" class="col-form-label">Commune d'arrondissement:</label>
            
            <input type="checkbox" id="checkboxDepartement" name="checkboxDepartement" onclick="modifierDepartement()"/>
            <label for="departement" class="col-form-label">Département:</label>
            
             <input type="checkbox" id="checkboxRegion" name="checkboxRegion" onclick="modifierRegion()"/>
            <label for="region" class="col-form-label">Région:</label>
            
             <div id="nouvelleCommune" style="display:none" >
              <input type="text" list="list-commune" id= "commune" th:field="*{libelleCommune}" class="form-control" placeholder="Commune"
							   />
							   <datalist id="list-commune">
							   <option th:each="c:${listCommune}" th:value="${c.libelleCommune}" th:text="${c.libelleCommune}"></option>
							   </datalist>
              <label for="communeModifier" style="color:red" class="col-form-label">Nouvelle commune:</label>
              <input type="text" class="form-control" id="communeModifier" name="communeModifier"/>
             </div>
             
             
             <div id="nouvelleCommuneArrond" style="display:none" th:object="${uneCommuneArrondissement}">
            <input type="text" list="list-communeArrond" class="form-control" id="communeArrond" th:field="*{libelleCommuneArrond}" placeholder="Commune d'arrond"/>
							   <datalist id="list-communeArrond">
							   <option th:each="c:${listCommune}" th:value="${c.communeArrondissement.libelleCommuneArrond}" th:text="${c.communeArrondissement.libelleCommuneArrond}"></option>
							   </datalist>
              <label for="communeModifierArrond" style="color:red" class="col-form-label">Nouvelle commune arrond:</label>
              <input type="text" class="form-control" id="communeArrondModifier" name="communeArrondModifier"/>
             </div>
            
             
             <div id="nouveauDepartement" style="display:none" th:object="${unDepartement}">
             <input type="text" list="list-departement" class="form-control" id="departement" th:field="*{libelleDepartement}" placeholder="Département"/>
							   <datalist id="list-departement">
							   <option th:each="c:${listCommune}" th:value="${c.communeArrondissement.departement.libelleDepartement}" th:text="${c.communeArrondissement.departement.libelleDepartement}"></option>
							   </datalist>
							   <label for="departementModifier" style="color:red" class="col-form-label">Nouveau département:</label>
            <input type="text" class="form-control" id="departementModifier" name="departementModifier" />
              
              
             </div>
            
            
            <div id="nouvelleRegion" style="display:none" th:object="${uneRegion}">
             <input type="text" list="list-region" class="form-control" id="region" th:field="*{libelleRegion}" placeholder="Région"/>
            <datalist id="list-region">
							   <option th:each="c:${listCommune}" th:value="${c.communeArrondissement.departement.region.libelleRegion}" th:text="${c.communeArrondissement.departement.region.libelleRegion}"></option>
							   </datalist>
              <label for="regionModifier" style="color:red" class="col-form-label">Nouvelle région:</label>
             <input type="text" class="form-control" id="regionModifier" name="regionModifier" />
              
             </div>
          </div>
          
        
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-success" style="border: 1px solid green; background-color: white; color: green;">Modifier</button>
      </div>
     
    </div>
  </div>
</div>
 </form>
 				
						</div>
						 
						  </div>
</div>
</div>
</div>

</body>
</html>