<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
    <head>
        <title> Authentification </title>
       <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<style>
fieldset{
	vertical-align:center;
	margin-left:600px;
	margin-top:100px;
	
}
label, p{
font-family:'Titillium';
}

</style>
    </head>
    <body style="background:#D8EAF0">
     
    <div class="row mt-3">
    <div class="col-md-8 offset-3">
    <fieldset style="border:1px solid #999; border-radius:8px; box-shadow:0 0 8px #999;padding:6px; background:#fff">
     <legend > </legend>
     <div style="font-size:26px; text-align:center">
     <img src="../static/img/logo_minfinances.png}"  th:src="@{/img/logo_minfinances.png}" width="250" height="80" alt=" "/>
     <p></p>
           <p style="color:#7F30CD ; font-family:fantasy"><b>Gestion des actes fonciers</b></p>
        </div>
        <p></p>
    <div class="card-header"> </div>
        <div th:if="${param.error}" class= "alert alert-danger"><i class="fa fa-info-circle"></i>
            <span ><i class="glyphicon glyphicon-info-sign"></i></span>&nbsp;Identifiant ou mot de passe invalide
        </div>
        <div th:if="${param.logout}" class= "alert alert-success">
             <span ><i class="glyphicon glyphicon-info-sign"></i></span>&nbsp;Vous êtes déconnecté
        </div>
        <form th:action="@{/login}" method="post">
<label for="username" class="form-label" style="font-size:12px"> Email</label>
            <div class="input-group col-md-12" >
             <span style="border-color:#7F30CD " class="input-group-addon"><i style="color:#7F30CD  " class="glyphicon glyphicon-envelope"></i></span>
             <input style="border-color:#7F30CD "  type="text" name="username" class="form-control" id="username" placeholder="example@minfinances.com"/> 
            </div>
            
            <p></p>
              
            <label for="password" class="form-label" style="font-size:12px"> Mot de passe</label>
           <div class=" input-group col-md-12" > 
             <span style="border-color:#7F30CD " class="input-group-addon"><i style="color:#7F30CD ; border-color:#7F30CD" class="glyphicon glyphicon-lock"></i></span>
             <input style="border-color:#7F30CD " type="password" name="password" class="form-control" id="password" placeholder="Mot de passe"/> 
            </div>
             <br style="clear: both;"/>
             <div style=text-align:center>
            <button type="submit" class="btn" style="background:#14A8DC ">SE CONNECTER </button>
            </div>
             <br style="clear: both;"/>
           
        </form>
        </fieldset>
        </div>
		</div>
		
    </body>
</html>