<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>template3</title>
	
	<link rel="stylesheet" type="text/css"
	href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}"/>
	
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
</head>
<body>
	<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">Actes fonciers</a>
    </header>
    <ul class="nav">
   	 <li> 	 
	     <a th:href="@{/index}"><span ><i class="glyphicon glyphicon-home"></i></span>Accueil</a>
     </li>
      <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
  	  	<a  class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" ><span ><i class="glyphicon glyphicon-wrench"></i></span>Référentiels&nbsp;<span class="caret"></span></a>
  	  	<ul class="dropdown-menu">
     	 
      	<li>
	       <a style="color:black" th:href="@{/beneficiaire}">Bénéficiaire</a>
        </li>
      <li>
      	  <a style="color:black" th:href="@{/typededocument}">Type de document</a>
      </li>
 		<li>
        <a style="color:black" th:href="@{/localisation}">Localisation</a>
      </li>
      <li>
        <a href="#">Responsable document</a>
      </li>
      <li>
        <a href="#">Utilisateur</a>
      </li>
      <li>
        <a href="#">Profil</a>
      </li>
      </ul>
      </li>
     
  	
  	  	
     	 
      	<li>
	       <a th:href="@{/ajouter}"><span ><i class="glyphicon glyphicon-edit"></i></span>Nouveau document</a>
        </li>
      <li>
        <a th:href="@{/cons}"><span ><i class="glyphicon glyphicon-eye-open"></i></span>Consultation</a>
      </li>
       <li>
        <a th:href="@{/pageValidation}"><span ><i class="glyphicon glyphicon-check"></i></span>Validation</a>
      </li>
      
 		<li>
         <a th:href="@{/dashboard}"><span ><i class="glyphicon glyphicon-stats"></i></span>Tableau de bord</a>
      </li>
     
    
    </ul>
     <div class="sidebar-footer" style="text-align:center">
   
	          <form method = "post" th:action = "@{/logout}">
	          <button class="btn btn-secondary" type="submit"><span ><i class="glyphicon glyphicon-log-out"></i></span>&nbsp;Déconnexion</button>
	          </form>
         
          </div>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="nav navbar-nav navbar-right">       
          <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" th:text="${#authentication.name}" style="color:red" >
            </a>
          <ul class="dropdown-menu">
          
          <li>
	          <a href="#" >Changer mot de passe</a>
          </li>
          </ul>
           </li>
           </ul>
          </div>
          
        </div>
     
    </nav>
    <div class="container-fluid">
      <section layout:fragment="content"></section>
    </div>
  </div>
</div>
</body>
</html>
