<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>template3</title>
	
	<link rel="stylesheet" type="text/css"
	href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}"/>
	
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
</head>
<body>
	<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">Actes fonciers</a>
    </header>
    <ul class="nav">
   	 <li> 	 
	     <a th:href="@{/index}">Accueil</a>
     </li>
     
  	  <li>
  	  	<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" >Documents&nbsp;<span class="caret"></span></a>
  	  	<ul class="dropdown-menu">
     	 
      	<li>
	       <a style="color:black" th:href="@{/ajouter}">Nouveau document</a>
        </li>
      <li>
        <a style="color:black" th:href="@{/cons}">Consultation</a>
      </li>
 		<li>
        <a style="color:black" th:href="@{/dashboard}">Tableau de bord</a>
      </li>
      <li>
        <a style="color:black" th:href="@{/pageValidation}">Validation</a>
      </li>
      </ul>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="nav navbar-nav navbar-right">       
          <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" th:text="${#authentication.name}" style="color:red">
            </a>
          <ul class="dropdown-menu">
          <li>
	          <form method = "post" th:action = "@{/logout}">
	          <button class="btn btn-secondary" type="submit">Déconnexion</button>
	          </form>
          </li>
          <li>
	          <a href="#" >Changer mot de passe</a>
          </li>
          </ul>
           </li>
           </ul>
          </div>
          
        </div>
     
    </nav>
    <div class="container-fluid">
      <section layout:fragment="content"></section>
    </div>
  </div>
</div>
</body>
</html>
