<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
      layout:decorate="~{template3}">
<head>
<meta charset="UTF-8"/>
<title>Utilisateur</title>
<style>
label{
	font-size:12px;
	font-family:Arial;
}
input[type=text]:focus {
  background-color: lightyellow;
}
textarea:focus {
  background-color: lightyellow;
}
.error{
	color:red;
}

</style>
<script type="text/javascript" th:if="${flag}">

$(document).ready(function(){
	
	$('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#monTab a[href="' + activeTab + '"]').tab('show');
    }
});
	

</script>
 
</head>
<body>

	<div layout:fragment="content">
	<h4>Nouvel utilisateur</h4>
						   <hr/>
	<div class="container">

					<div class="panel-body">
					 <p th:if="${messagePersonneDocument}" th:text="${messagePersonneDocument}" style= color:red></p>
					  <p th:if="${messageEntrepriseDocument}" th:text="${messageEntrepriseDocument}" style= color:red></p>
					<ul class="nav nav-pills" id="monTab">
  <li><a class="nav-item nav-link active" href="#p1" data-toggle="tab">Nouveau</a></li>
  <li><a class="nav-item nav-link" href="#p2" data-toggle="tab">Liste</a></li>
  
  
</ul>
<div class="tab-content">
 <div class="tab-pane active" id="p1">
 <br></br>
						<form th:action="@{/referentielUtilisateur}" method="post">
						<p th:if="${messageDoublon}" th:text="${messageDoublon}" class= "alert alert-danger"></p>
							<p th:if="${messageSucces}" th:text="${messageSucces}" class= "alert alert-success"></p>
							
  							     <div th:object="${unUtilisateur}">
							  
							    <label for="nom" class="form-label">Nom</label>
							    <input type="text" th:field="*{nomUtilisateur}" class="form-control" placeholder="Nom" />
							     <p th:if="${#fields.hasErrors('nomUtilisateur')}" th:errors="*{nomUtilisateur}" th:errorclass="error"></p>
							  <p></p>
							   <label for="prenom" class="form-label">Prénom</label>
							    <input type="text" th:field="*{prenomUtilisateur}" class="form-control" placeholder="Prénom" />
							  <p th:if="${#fields.hasErrors('prenomUtilisateur')}" th:errors="*{prenomUtilisateur}" th:errorclass="error"></p>
							  <p></p>
							   <label for="email" class="form-label">Email</label>
							    <input type="text" th:field="*{email}" class="form-control" placeholder="Email" />
							     <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"></p>
							      <p></p>
							   <label for="password" class="form-label">Mot de passe</label>
							    <input type="password" th:field="*{password}" class="form-control" placeholder="Mot de passe" />
							     <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"></p>
							     
							     <p></p>
							      <div th:object="${unProfil}">
							     <label for="profil" class="form-label">Profil</label>
							    <select id="profil" th:field="*{nomProfil}" class="form-control">
							      
							      <option th:each="t:${listProfil}" th:text="${t.nomProfil}" th:value="${t.nomProfil}"></option>
							      
							    </select>
							    <input type="hidden" th:field="*{idProfil}"/>
							     </div>
							   <input type="hidden" th:field="*{idUtilisateur}"/>
							  </div>							   
						  <br style="clear: both;"/>
						  <p></p>
						  
					    <button type="submit" class="btn btn-primary">Enregistrer</button>
					 
						</form>
						</div>
						<div class="tab-pane" id="p2">
						<br></br>
						<p th:if="${messageUtilisateur}" th:text="${messageUtilisateur}" class= "alert alert-success"></p>
						<h4 th:if="${listUtilisateur.isEmpty()}==true" style="color:red; text-align:center">Aucune donnée utilisateur</h4>
						<div class="table-responsive" th:if="${listUtilisateur.isEmpty}==false">
						<table class="table table-bordered" id="dataTable" style="width:100%;font-family:Courriel">
							<tr style="background-color:#DEF69A; ">
							<th></th><th style="text-align:center">Nom</th><th style="text-align:center">Prénom</th><th style="text-align:center">Email</th>
							<th style="text-align:center">Profil</th></tr>				
								<tr th:each="d, iteration:${listUtilisateur}">
									<td th:text="${iteration.index+1}"></td>
									<td th:text="${d.nomUtilisateur}"></td>
									<td th:text="${d.prenomUtilisateur}"></td>
									<td th:text="${d.email}"></td>
									<td th:text="${d.profil}"></td>
								<td style="text-align:center"><a th:href="@{modifierUtilisateur(id=${d.idUtilisateur})}"><span class="glyphicon glyphicon-pencil" style=color:green></span></a></td>
								<td style="text-align:center"><a th:href="@{supprimerUtilisateur(id=${d.idUtilisateur})}"  onclick="return confirm('Voulez-vous supprimer cet utilisateur?');"><span class="glyphicon glyphicon-trash" style=color:red></span></a></td>
																		
								</tr>	
						</table>
						
						</div>
						
						</div>
							
						
						</div>
						 
</div>
</div>
</div>

</body>
</html>